In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv("data/folio_matricula_segundo_2022.csv",sep='\t')

In [14]:
data.head()

,trimestre_cl,folio_asp_cl,u_version,est_asp_cl,unidad_cl,division_cl,clave_plan_cl,turno_cl,dedicacion_cl,matricula_cl,usuario_cl,actualiza_fe
0,2224,1210001,u,2,1,2,11,1,1,0,10292,2022-09-14
1,2224,1210002,u,2,1,2,12,1,1,0,10292,2022-09-14
2,2224,1210003,u,13,1,2,13,1,1,2223072304,38540,2022-10-05
3,2224,1210004,u,1,1,2,14,1,1,0,38540,2022-09-13
4,2224,1210005,u,2,1,2,11,1,1,0,10292,2022-09-14

In [8]:
a = 1.25
type(a)

float

In [16]:
isinstance(a, int)

False

In [22]:
c = """
This is a longer string that \nspans multiple lines
"""

In [28]:
c.count('e')

3

In [29]:
type(c)

str

In [37]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.year
dt.day

29